.home-container {
  width: 100%;
  display: flex;
  padding: 0px;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.home-navbar-interactive {
  width: 100%;
  height: 97px;
  display: flex;
  z-index: 100;
  position: relative;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.home-text {
  color: #657dda;
  cursor: pointer;
  height: auto;
  font-size: 22px;
  align-self: center;
  font-style: normal;
  text-align: left;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 800;
  line-height: 1;
  user-select: none;
  text-transform: uppercase;
}
.home-text:hover {
  color: #94aaef;
  transform: scale(1.1);
}
.home-desktop-menu {
  display: none;
}
.home-nav {
  flex: 1;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.home-text01 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
  animation-timing-function: ease-in-out;
}
.home-text01:hover {
  color: #94aaef;
  transform: scale(1.25);
}
.home-text02 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  user-select: none;
  animation-timing-function: ease-in-out;
}
.home-text02:hover {
  color: #94aaef;
  transform: scale(1.25);
}
.home-text03 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  user-select: none;
  animation-timing-function: ease-in-out;
}
.home-text03:hover {
  color: #94aaef;
  transform: scale(1.25);
}
.home-text04 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  user-select: none;
  animation-timing-function: ease-in-out;
}
.home-text04:hover {
  color: #94aaef;
  transform: scale(1.25);
}
.home-btn-group {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-link {
  display: contents;
}
.home-image {
  width: 28px;
  object-fit: cover;
  transition: 0.3s;
  user-select: none;
  text-decoration: none;
}
.home-image:hover {
  transform: scale(1.25);
}
.home-link1 {
  display: contents;
}
.home-image1 {
  width: 28px;
  object-fit: cover;
  transition: 0.3s;
  user-select: none;
  text-decoration: none;
}
.home-image1:hover {
  transform: scale(1.25);
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image2 {
  height: 2rem;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon-group {
  display: flex;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-content {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 99;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
.home-text10 {
  color: rgb(101, 125, 218);
  width: auto;
  z-index: 100;
  font-size: 150px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 800;
  line-height: 0.9;
  user-select: none;
}
.home-text11 {
  color: #c1c1c1;
  z-index: 100;
  max-width: 700px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 300;
  padding-left: 11px;
}
.home-container3 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 11px;
}
.home-link2 {
  color: #ffffff;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 800;
  margin-left: 0px;
  padding-top: 0.5rem;
  user-select: none;
  border-width: 0px;
  padding-left: 2rem;
  border-radius: 10px;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  background-color: rgb(101, 125, 218);
}
.home-link2:hover {
  color: #000000;
  cursor: pointer;
  transform: scale(1.25);
  background: #94aaef;
}
.home-text12 {
  font-size: 12px;
  line-height: 1.75;
}
.home-link3 {
  color: #000000;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 800;
  margin-left: 0px;
  padding-top: 0.5rem;
  user-select: none;
  border-width: 0px;
  padding-left: 2rem;
  border-radius: 10px;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  background-color: #ffffff;
}
.home-link3:hover {
  color: #000000;
  cursor: pointer;
  transform: scale(1.25);
  background: #94aaef;
}
.home-text15 {
  font-size: 12px;
  line-height: 1.75;
}
.home-container4 {
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  filter: brightness(0.7) blur(5px) contrast(1.4);
  height: 100%;
  display: flex;
  z-index: 0;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/final-render-ps-1500w.png");
  background-position: top;
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-text02 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-text03 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-text04 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-btn-group {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-icon {
    fill: #D9D9D9;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
}
